<div id="postDiv" tabindex="99" spellcheck="false" (keydown)="keyDown($event,editDiv)" (keypress)="keyPress($event,editDiv)"
  (click)="getCaretPosition(editDiv,$event)" (keyup)="getCaretPosition(editDiv,$event)" #editDiv contenteditable="true"
  style="width: 200px; height: 100px; border-color: blue;">
</div>
<div class="post-placeholder  active">
  {{ placeholder}}
</div>
<div id="postDiv1" style="display: none"></div>

<div *ngIf="smartTagArray?.length>0" class="autocomplete_list_wrap setpos">
  <ul *ngIf='smartTagArray?.length>0' class="mentions-autocomplete-list">
    <li *ngFor='let tag of smartTagArray ; let i = index' [class.active]="i == arrowkeyLocation" (click)="setTaggeditem(tag)">
      {{tag}}
    </li>
  </ul>
</div>